.step4-container {
  background-color: #62B8BC;
  padding: 40px;
  width: 500px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
}

.step4-title {
  font-weight: bold;
}

.step4-subtitle {
  margin-bottom: 20px;
}

.dropzone {
  border: 2px dashed #888;
  padding: 40px;
  border-radius: 10px;
  background: #62B8BC;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload-button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.file-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.step4-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: Medium italic;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.step {
  text-align: center;
}

.circle {
  height: 24px;
  width: 24px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
}