.header {
    background-color: #F1F2F1;
    padding: 10px 20px;
    font-size: 20px;
    gap: 15px;

    display: flex;              /* Alineamos elementos en fila */
    justify-content: space-between;  /* Título a la izquierda, botón a la derecha */
    align-items: center;        /* Centrado vertical */

}

.titulo {
    margin: 0; 
}

/* 📌 Nuevo: contenedor de logo + texto */
.logo-container {
    display: flex;
    align-items: center;
}

/* 📌 Nuevo: estilo de la imagen */
.logo {
    height: 30px;
    width: auto;
}

.home-button {
    background-color: #7E7070;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-style: Medium italic;
    font-weight: 500;
    margin: 0;    
}

.home-button:hover {
    background-color: #0056b3;
}

.perfil-button {
    background-color: #7E7070;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-style: Medium italic;
    font-weight: 500;
    margin: 0;
}

.buttons-right {
    display: flex;
    gap: 15px;
}

/* 📌 Imagen dentro del botón de perfil */
.perfil-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%; /* Para que sea redonda */
}
