/* Login.css (scopeado a .login-page) */
.login-page .registro-container {
  display: flex;
  height: 100vh;
  background-color: #FFF;
  font-family: "Poppins", sans-serif;
}

/* Columna izquierda - Formulario */
.login-page .col-izquierda-iniciar {
  flex: 1;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.login-page .col-izquierda-iniciar h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-page .social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.login-page .social-icons img {
  width: 30px;
  cursor: pointer;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center; /* centra inputs, link y botón */
}

.login-page form input {
  padding: 10px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 300px; /* ancho fijo de la columna */
}

.login-page .btn-recuperar {
  font-size: 15px;
  color: #00b3b3;
  text-decoration: none;
  text-align: center;;
  width: 100%;
  max-width: 300px; 
  background-color: #FFF;
  border: #FFF;
  font-family: "Poppins", sans-serif;
}

.login-page .btn-confirmar {
  background: black;
  color: white;
  padding: 7px;
  width: 200px; /* más chico que los inputs */
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

/* Columna derecha - Bienvenida */
.login-page .col-derecha-iniciar {
  flex: 1;
  background-color: #6ec3c3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 20px;
  text-align: center;
}

.login-page .col-derecha-iniciar h1 {
  font-size: 3rem;
}

.login-page .col-derecha-iniciar p {
  max-width: 300px;
  text-align: center;
  margin: 20px 0;
}

.login-page .btn-registrarse {
  background: none;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
