/* General */
.login-page .registro-container {
  display: flex;
  height: 100vh;
  background-color: #FFF;
  font-family: "Poppins", sans-serif;
}

/* Columna izquierda - Formulario */
.login-page .col-izquierda-iniciar {
  flex: 1;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.login-page .col-izquierda-iniciar h2 {
  font-size: 2rem;
  margin: 0 0 20px 0;
  max-width: 300px;      /* mismo ancho que los inputs */
  width: 100%;
  margin-left: auto;     /* centra el bloque dentro de la columna */
  margin-right: auto;
  text-align: left;      /* mantiene el texto alineado al inicio del bloque */
  padding-left: 40px;    /* empuja el texto hacia la derecha dentro del bloque (ajustar aquí) */
  box-sizing: border-box;
}

/* Social icons estilo botones */
.login-page .social-icons {
  display: flex;
  gap: 6px; /* más pegados */
  margin-bottom: 20px;
}

.login-page .social-icons button {
  background: none;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;   
  height: 30px;  

}

.login-page .social-icons button img {
  width: 35px;
  height: 35px;
}

/* Formulario */
.login-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.login-page form input {
  padding: 10px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 300px;
}

/* Botón recuperar */
.login-page .btn-recuperar {
  font-size: 14px;
  color: #00b3b3;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: -5px;
}

.login-page .btn-recuperar:hover {
  text-decoration: underline;
}

/* Botón confirmar */
.login-page .btn-confirmar {
  background: black;
  color: white;
  padding: 7px;
  width: 200px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

/* Columna derecha - Bienvenida */
.login-page .col-derecha-iniciar {
  flex: 1;
  background-color: #62B8BC;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 20px;
  text-align: center;
}

.login-page .col-derecha-iniciar h1 {
  font-size: 3rem;
}

.login-page .col-derecha-iniciar p {
  max-width: 300px;
  text-align: center;
  margin: 20px 0;
}

.login-page .btn-registrarse {
  background: none;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
